.Card {
      position: relative;
      height: 320px;
      flex: 0 0 200px;
      display: flex;
      flex-direction: row;
      margin-right: 10px;
      border: none;
      /* border-radius: 5px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-size: cover;
}

.Card:before {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}

.Card:hover {
      height: 320px;
      flex: 0 0 200px;
      display: flex;
      flex-direction: row;
      margin-right: 10px;
      /* border-radius: 5px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-size: cover;
      opacity: 0.5;
}

.card-content {
      text-align: left;
      width: 100%;
      font-size: 10px;
      opacity: 1;
      position: relative;
      z-index: 2;
}

.card-sub-item {
      z-index: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      color: white;
      opacity: 1;
}

h1.card-sub-item {
      font-size: 16px; 
      padding-left: 5px;
}

h2.card-sub-item {
      font-size: 13px;
      padding-left: 5px;
      font-weight: normal;
}

img.card-sub-item-err {
      position: absolute;
      left: -130px;
      z-index: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      max-height: 320px;
      clip: rect(0px, 330px, 320px, 130px);
}

img.card-sub-item {
      position: absolute;
      z-index: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      max-height: 320px;
      max-width: 200px;
}

.wrap-div {
      clear: both;
      overflow: hidden;
      background: rgb(46, 156, 247);
      width: 100%;
}

.align-left {
      float: left ;
      vertical-align: middle;
      font-size: 14px;
}

.align-right {
      float: right;
}

.card-sub-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
}

.notification {
      position:absolute;
      top:-10px;
      right:-15px;
      background-color:red;
      color:#fff;
      padding:5px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      width:20px;
      height:20px;
      text-align:center;
      font-size: 16px;
}