.Card {
    height: 180px;
    flex: 0 0 180px;
    display: flex;
    flex-direction: row;
    background: white;
    margin-right: 10px;
    border-radius: 5px;
  }
  
.card-content {
      text-align: left;
      width: 100%;
      font-size: 12px;
}
.card-sub-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      font-size: 12px;
      padding-left: 5px;
}

.wrap-div {
      clear: both;
      overflow: hidden;
      background: rgb(46, 156, 247);
      width: 100%;
}

.align-left {
      float: left ;
      vertical-align: middle;
      font-size: 14px;
}

.align-right {
      float: right;
}